In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv("iris.data",header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
col=['sepal length','sepal width','petal length','petal width','class']
df.columns=col
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['class']=label_encoder.fit_transform(df['class'])

In [5]:
x=df.iloc[:,:4] #Feature Matrix
y=df.iloc[:,4:] #Response Vector

In [6]:
from sklearn.model_selection import train_test_split/
X_Train,X_Test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=3)

In [7]:
from sklearn.svm import SVC

In [8]:
model=SVC(kernel='linear')

In [9]:
model.fit(X_Train,y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [10]:
pred=model.predict(X_Test)

In [11]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [12]:
confusion_matrix(y_test,pred)

array([[22,  0,  0],
       [ 0, 18,  2],
       [ 0,  0, 18]], dtype=int64)

In [13]:
accuracy_score(y_test,pred)

0.9666666666666667